<%= form_with model: physician do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :email %>
    <%= f.text_field :email %> <br><br>
    <%= f.submit %>
    <% end %>
    </div>