
<h1>Edit Physician: </h1>



<%= form_for(@physician) do |f| %>
  <%= render partial: "form", locals: { fp: f } %>
  <h3>Add Appointments:</h3>
  <%= f.fields_for :appointments do |s| %>
    <%= s.label :appointment_datetime %>
    <%= s.datetime_field :appointment_datetime %><br/>
    
    <hr>
  <% end %>
  <%= f.submit %>
  <% end %>