
<h1>Edit Path</h1>
<%= form_with(model: @physician) do |f| %>
    <%= f.label :Name%>
    <%= f.text_field :name%>
    <%= f.label :Email %>
    <%= f.text_field :email%>
    <%= submit_tag 'Edit Physican' %>
    <% end %> 