
<h1>Edit Physician: </h1>
%= render partial: "layouts/errors", locals: {object: @physician} %>
<%= form_for(@physician) do |f| %>
  <%= render partial: "form", locals: {fp: f} %>

  <%= f.fields_for :appointments do |t| %>zz
        <%= t.label :date %>
        <%= t.datetime_field :date%><br/>
    
  <%= f.submit "Update Physician" %>
  <% end %>