   
   <h1>Create A New Physician</h1>
 
<%= form_for(@physician) do |f| %>
  <%= render partial: "form", locals: { fp: f } %> 
  <h3>Add Appointements:</h3>
  <%= f.fields_for :appointements do |s| %>
        <%= s.label :appointment_datetime %>
        <%= s.datetime_field :appointment_datetime %><br/>
      
    <hr>
  <% end %>
  <%= f.submit %>
  <% end %>


