<%= render partial: "layouts/error", locals: { object: @appointment } %>

<%= form_for(@appointment) do |f| %>
  <%= f.label :appointment_datetime %>
  <%= f.datetime_field :appointment_datetime %><br/>

  
  
  <h3>Creat a Physician: </h3>
   <%= f.fields_for :physician do |b| %>
      <%= render partial: "physicians/form", locals: { f: b } %>
    <% end %>
    <%= f.submit %>
    <% end %>