<h1>Create Appointment </h1>
<%= render partial: "form" %>



<%= form_with( model: @appointment) do |f| %>
  <%= f.label :physicion %>
  <%= f.text_field :physician%>
  <%= f.label :appointements %>
  <%= f.datetime_field :appointment_datetime%>
  <%= f.submit %>
  <% end %> 