<h1>Create New Appointment </h1>



  <%= form_for([@physician, @appointement]) do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%><br/>
    <%= f.label :email %>
    <%= f.text_field :email%><br/>
    
    <%= fields_for_physician(f) %>
    <%= f.submit %>
    <% end %> 