
  <h1> New Category </h1>
  <%= render partial: "layouts/errors", locals: {object: @category} %> 
  <%= form_for([@appointment, @category]) do |f| %>
  <%= f.hidden_field :appointment_ids %>
  <%= render partial: "form", locals: {f: f} %>
  <%= f.submit "Create Category" %>
    <% end %>