<div> 
      <% if !logged_in? %><br><br>
        <%= link_to "Sign Up", signup_path %> ||
        <%= link_to "Log In", login_path %> ||
        <%= button_to "Sign in with Google", '/auth/google_oauth2'%>
      <%else%> <br> <br>
       
      <%= link_to "Add New Appointment", new_appointment_path %> ||
      <%= link_to "Appointments", appointments_path %> ||
     
      <%= link_to "Add Category", new_category_path %> ||
      <%= link_to "Add Physician", new_physician_path %> ||
      <%= link_to "Physicians", physicians_path %> ||
      <%= link_to "HOME", root_path %> ||
      <%= button_to "Logout", logout_path, method:"delete" %>
    <% end %>
    </div> 