<!DOCTYPE html>
<html>
  <head>
    <title>PhysicianOffice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  <%= link_to "Create Appointment", new_appointment_path %> |
  <%= link_to "Appointment", appointments_path %> |
  <%= link_to "Create Physician", new_physician_path %> |
  <%= link_to "Physicians", physicians_path %> | 
  <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
    <%= yield %>
  </body>
</html>
